{
	email tkondrashin@icloud.com
}

vpn.example.com {
	basicauth {
		cosmvpn $2a$14$Dy19CTRWGyD2YV1ZdwGxVO9RMj5LVyilo8CfGr7p97DNYFa.2/IZO
	}
	root * /srv/singbox
	file_server
}

mesh.example.com {
	handle_path /avatars/* {
		root * /srv/avatars
		file_server
	}

	handle /admin/* {
		basicauth {
			exampleuser $2y$05$QloXxJw1cehXULuFYY5lQuJsCVQC6KkpBn8BudsuEPcBQDJWANlIS
		}
		reverse_proxy headplane:3000
	}

	handle /health/* {
		basicauth {
			exampleuser $2y$05$QloXxJw1cehXULuFYY5lQuJsCVQC6KkpBn8BudsuEPcBQDJWANlIS
		}
		reverse_proxy headscale:9090
	}

	handle {
		reverse_proxy headscale:8080 {
			flush_interval -1
		}
	}
}
